ServiciosWeb.ClienteConsola/Connected Services/ServiceLibroWCF/ServicioLibro2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro" nillable="true" type="tns:ArrayOfLibro" />
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
</xs:schema>